<ion-header>
  <ion-toolbar>
    <ion-title>
      Soccer Fields
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list class="ios list-ios hydrated">
    <ion-list-header class="ios hydrated">
      All Soccer Fields
    </ion-list-header>
    <ion-item class="user-list">
      <ion-label>
        <h4>Soccer Field 1</h4>
        <h5><ion-icon name="person"></ion-icon>-------</h5>
        <p><ion-icon name="call"></ion-icon>-------</p>
      </ion-label>
      <div class="item-note" item-end>
        <button ion-button clear [routerLink]="['/edit-appointment/']">
          <ion-icon name="create" style="zoom:2.0"></ion-icon>
        </button>
        <button ion-button clear>
          <ion-icon name="trash" style="zoom:2.0"></ion-icon>
        </button>
      </div>
    </ion-item>
    <ion-item class="user-list">
      <ion-label>
        <h4>Soccer Field 2</h4>
        <h5><ion-icon name="person"></ion-icon>Francisco Radrigan</h5>
        <p><ion-icon name="call"></ion-icon>+56987789563</p>
      </ion-label>
      <div class="item-note" item-end>
        <button ion-button clear [routerLink]="['/edit-appointment/']">
          <ion-icon name="create" style="zoom:2.0"></ion-icon>
        </button>
        <button ion-button clear>
          <ion-icon name="trash" style="zoom:2.0"></ion-icon>
        </button>
      </div>
    </ion-item>
    <ion-item class="user-list">
      <ion-label>
        <h4>Soccer Field 3</h4>
        <h5><ion-icon name="person"></ion-icon>-------</h5>
        <p><ion-icon name="call"></ion-icon>-------</p>
      </ion-label>
      <div class="item-note" item-end>
        <button ion-button clear [routerLink]="['/edit-appointment/']">
          <ion-icon name="create" style="zoom:2.0"></ion-icon>
        </button>
        <button ion-button clear>
          <ion-icon name="trash" style="zoom:2.0"></ion-icon>
        </button>
      </div>
    </ion-item>
    <ion-item class="user-list">
      <ion-label>
        <h4>Soccer Field 4</h4>
        <h5><ion-icon name="person"></ion-icon>-------</h5>
        <p><ion-icon name="call"></ion-icon>-------</p>
      </ion-label>
      <div class="item-note" item-end>
        <button ion-button clear [routerLink]="['/edit-appointment/']">
          <ion-icon name="create" style="zoom:2.0"></ion-icon>
        </button>
        <button ion-button clear>
          <ion-icon name="trash" style="zoom:2.0"></ion-icon>
        </button>
      </div>
    </ion-item>
    <ion-item class="user-list">
      <ion-label>
        <h4>Soccer Field 5</h4>
        <h5><ion-icon name="person"></ion-icon>-------</h5>
        <p><ion-icon name="call"></ion-icon>-------</p>
      </ion-label>
      <div class="item-note" item-end>
        <button ion-button clear [routerLink]="['/edit-appointment/']">
          <ion-icon name="create" style="zoom:2.0"></ion-icon>
        </button>
        <button ion-button clear>
          <ion-icon name="trash" style="zoom:2.0"></ion-icon>
        </button>
      </div>
    </ion-item>
    <ion-item class="user-list">
      <ion-label>
        <h4>Soccer Field 6</h4>
        <h5><ion-icon name="person"></ion-icon>Ricardo Barraza</h5>
        <p><ion-icon name="call"></ion-icon>+56912130418</p>
      </ion-label>
      <div class="item-note" item-end>
        <button ion-button clear [routerLink]="['/edit-appointment/']">
          <ion-icon name="create" style="zoom:2.0"></ion-icon>
        </button>
        <button ion-button clear>
          <ion-icon name="trash" style="zoom:2.0"></ion-icon>
        </button>
      </div>
    </ion-item>
  </ion-list>
<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button routerLinkActive="tab-selected" routerLink="['/appointment/home-appointment']" class="ios" tab="home">
      <ion-icon name="list-box"></ion-icon>
      <ion-label>My reservation</ion-label>
    </ion-tab-button>
    <ion-tab-button routerLinkActive="tab-selected" routerLink="['/appointment/make-appointment']" class="ios" tab="make-appointment">
      <ion-icon name="add-circle"></ion-icon>
      <ion-label>Reserve soccer field</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>